.link {
    text-decoration: none;
}
.containerBottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cardEmpresa {
    display: flex;
    gap: 8px;
    align-items: center;
}
.DadosEmpresa {
    display: flex;
    flex-direction: column;
    line-height: 24px; /* 150% */
    text-align: left;
    max-width: 300px;
}

@media (max-width: 600px) {
  .DadosEmpresa {
    max-width: 140px;
    line-height: 16px; /* 150% */
  }
  .DadosEmpresa h6 {
    font-size: 14px;
  }
}
.buildingIcon {
    box-sizing: initial;
    padding: 13px;
    border-radius: 8px;
    background-color: var(--vermilion-50);
    border: none;
}
.vermilion {
    fill: var(--primaria);
    border-color: var(--primaria);
}