.saldo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    & p {
        font-size: 14px;
        font-family: var(--fonte-secundaria);
        color: var(--neutro-600);
    }
}

.link {
    text-decoration: none;
    cursor: pointer;
}