.subtitulo {
    color: var(--neutro-600);
    font-size: 12px;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
}
.icon * {
    box-sizing: initial;
    stroke: var(--white);
}
.link {
    text-decoration: none;
}