.p-radiobutton-box {
    &.p-highlight {
        border-color: var(--primaria);
    }
    &.p-focus {
        border-color: var(--primaria)!important;
    }
    & .p-radiobutton-icon {
        background: var(--primaria);
    }
}