.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    &.vermilion {
        background-color: var(--vermilion-50);
    }
    &.spaced {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }
    &.around {
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }
    &.left {
        justify-content: flex-start;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }
    &.right {
        justify-content: flex-end;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }
    &.error {
        background-color: var(--error-200);
        border: 1px solid var(--error-200);
        border-radius: 8px;
        padding: 16px;
    }
}