.icon {
    cursor: pointer;
    border-radius: 8px;
    padding: 11px;
    border: 1px solid var(--neutro-200);
    box-sizing: initial;
}

.divisor {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    .divisor {
        gap: 24px;
    }

    .link {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .divisor {
        gap: 8px;
        width: 100%;
    }

    .link {
        padding: 8px !important;
        font-size: 13px;
        flex: 1;
        justify-content: center;
    }

    .icon {
        padding: 8px;
    }
}