.icon {
    cursor: pointer;
    border-radius: 8px;
    padding: 11px;
    border: 1px solid var(--neutro-200);
    box-sizing: initial;
}

.divisor {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
}