.card_dashboard {
    border: 1px solid var(--neutro-200);
    border-radius: 8px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: start;
    align-self: stretch;
    flex-direction: column;
    flex: 1;
    width: 70vw;
}

.ButtonContainer {
    display: flex;
    gap: 16px;
}

.wrapper_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.subtitulo {
    color: var(--neutro-600);
    font-size: 12px;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
}

.icon {
    &svg * {
        color: var(--primaria);
        fill: var(--primaria);
    }
}