.beneficio{
    background-color: var(--neutro-100);
    padding: 8px 8px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    & p {
        color: var(--neutro-600);
        font-weight: 700;
    }
    & svg * {
        color: var(--neutro-600);
        /* fill: var(--neutro-600); */
    }
}

.beneficio_grid{
    display: flex;
    padding: 16px;
    background-color: var(--neutro-50);
    border-radius: 8px;
    border: 1px solid var(--neutro-200);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    & .inside_grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
    }
    & p {
        color: var(--neutro-600);
        font-weight: 700;
    }
    & svg * {
        color: var(--neutro-600);
    }
}