.link {
    text-decoration: none;
    cursor: pointer;
    color: var(--primaria);
    font-size: 14px; 
}
.card_dashboard {
    border: 1px solid var(--neutro-200);
    border-radius: 16px;
    display: flex;
    padding: 20px 24px;
    justify-content: space-between;
    align-items: start;
    align-self: stretch;
    gap: 5px;
    flex-direction: column;
    flex: 1;
    width: 65vw;
}
.icon * {
    stroke: white;
}