.icon {
    fill: var(--white);
    box-sizing: initial;
}

.novidade {
    color: var(--black);
    font-family: var(--fonte-secundaria);
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    align-items: center;
    background: var(--secundaria);
    border-radius: 8px;
}

.link {
    text-decoration: none;
    color: var(--white);
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Customização do efeito Ripple */
.p-ripple .p-ink {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Ajuste para garantir que o Ripple fique contido no link */
.p-ripple {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.link.disabled {
    opacity: 0.5;
}

.link.disabled li{
    cursor: default;
}

@media screen and (max-width: 768px) {
    .link {
        padding: 0;
    }

    .novidade {
        font-size: 9px;
        padding: 1px 4px;
    }
}