.icon {
    fill: var(--white);
    box-sizing: initial;
}

.novidade {
    color: var(--black);
    font-family: var(--fonte-secundaria);
    font-size: 12px;
    font-weight: 700;
    padding: 2px 8px;
    align-items: center;
    background: var(--secundaria);
    border-radius: 8px;
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 10px;
}