.subtitulo {
    color: var(--neutro-600);
    font-size: 12px;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
}
.cardsOperador {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.icon * {
    box-sizing: initial;
    stroke: var(--secundaria);
}
.link {
    text-decoration: none;
}