.beneficio{
    background-color: var(--neutro-100);
    padding: 8px 8px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    & p {
        color: var(--neutro-600);
        font-weight: 700;
    }
    & svg * {
        color: var(--neutro-600);
        /* fill: var(--neutro-600); */
    }
}

.beneficio_grid{
    display: flex;
    padding: 16px;
    background-color: var(--neutro-50);
    border-radius: 8px;
    border: 1px solid var(--neutro-200);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    & .inside_grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
    }
    & p {
        color: var(--neutro-600);
        font-weight: 700;
    }
    & svg * {
        color: var(--neutro-600);
    }
}

.beneficio.success {
    background-color: var(--alert-success-50); /* Verde claro */
    & p{
        color:  var(--alert-success-500); /* Texto branco */
    }
}

.beneficio.success svg * {
    color: var(--alert-success-700); /* Ícone verde escuro */
}

.beneficio.error {
    background-color: var(--error-50); /* Vermelho claro */
    & p{
        color:  var(--error-400); /* Texto branco */
    }
}

.beneficio.error svg *{
    color: var(--error-700); /* Ícone vermelho escuro */
}
